gudea.xtf
.config
.local
.emacs
.git-credentials
.gitconfig
.passwd
B
D
xlog
.oraccstart
*.bak
*.zip
examples.desktop
*.tar.gz
XXX
TODO
installstamp
servestamp
*.dump
*.log
ox.err
.cache
.session
.status
oracc.log
log
nohup.out
request.zip
response.zip
01*
02*
00any
00bak
.DS_Store
*~
usages.log
ngram.nlx
x
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.boo
.lesshst
.oracc-user
.profile
.sig
.ssh/
.tramp_history
*.ini