<project n="gudea" 
    xmlns="http://oracc.org/ns/xpd/1.0"
    xmlns:xpd="http://oracc.org/ns/xpd/1.0">
  <title>Gudea Corpus</title>
  <name>Gudea Corpus</name>
  <abbrev>Gudea</abbrev>
  <project-type>user</project-type>
  <type>corpus</type>
  <logo type="text">Gudea</logo>
  <option name="asl-auto" value="yes"/>
  <option name="asl-merge" value="00lib/gudea.mrg"/>
  <option name="asl-stats" value="yes"/>
  <option name="gvl-ivs" value="00lib/gudea.oiv"/>
  <option name="catalog-build-policy" value="custom"/>
  <option name="cbd-oid" value="yes"/>
  <option name="build-approved-policy" value="atf"/>
  <option name="outline-default-select" value="false"/>
  <option name="outline-default-sort-fields" value="period,ruler"/>
  <option name="outline-default-sort-labels" value="period,ruler"/>
  <option name="outline-default-catalog-fields" value="designation,primary_edition,distribution"/>
  <option name="outline-default-catalog-widths" value="25,35,35"/>
  <option name="%sux" value=". epsd2 epsd2/names"/>
  <option name="sum-alias" value="yes"/>
  <option name="fuzzy-alias" value="yes"/>
</project>
